<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/sudo/admin">
                    <i class="bi bi-house"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item"></li>
            <a class="nav-link" href="/sudo/admin/profile">
                <i class="bi bi-person"></i>
                Profile
            </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sudo/admin/about">
                    <i class="bi bi-patch-question"></i>
                    About
                </a>
            </li>
            <a href="/api/v1/songs/auto-scan-songs">scan songs</a>
            <a href="/api/v1/songs/compare-songs-folders">compare songs folders</a>
        </ul>
    </div>
</nav>